*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root{
    --gradient: linear-gradient(to right, #E29587, #D66D75); /* uigradients: https://uigradients.com/#Netflix */
    --btn-radius: 30px;
    --white: #fff;
    --background-grey: #F8F9FA;
    --full: 100%;
    --half: 50%;
    --small-font: 0.75em;
    --scroll: scroll;
}

.main{
    height: var(--full);
    width: var(--full);
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('images/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
}

.error{
    color:red;
}

/* CSS for Login/Register Page */

.main-form{
    overflow-y: var(--scroll);
    max-height: 35em;
}

.user-login{
    background: var(--gradient) !important;
    border-radius: var(--btn-radius) !important;
    transition: 0.5s;
}

.user-login:hover{
    color: var(--white);
}

.sign-up{
    transition: 0.5s;
}

.sign-up:hover{
    color: #000 !important;
}

.username-text{
    font-size: 15px;
}

.user-login{
    font-size: 15px;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px;
    background: var(--gradient);
    border: 0;
    outline: none;
    border-radius: var(--btn-radius);
    transition: 0.6s ease;
    text-decoration: none;
    color: #000;
    text-align: center;
}

.submit-btn:hover{
    color: var(--white);
}


/* club review page css */

.container-fluid{
    margin-top: 0;
}

.club-image{
    width: 40%
}

.table-responsive{
    overflow: hidden;
    overflow-y: var(--scroll);
    height: 100em;
}

tbody{
    margin-top: 2em;
}

tbody:before {
    line-height: 1em;
    content: ".";
    display: block;
}

.search{
    border: 1px solid grey;
    border-radius: var(--btn-radius);
    height: 2.5em;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: var(--white);
    transition: 0.5s ease;
  }

.search:hover, .search:focus {
    border: 1.5px solid var(--gradient);
    background-color: var(--white);
  }

/* Homepage CSS */

.title{
    position: absolute;
    top: var(--half);
    left: var(--half);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.title h1{
    color: var(--white);
    font-size: 4rem;
}

.homepage-button{
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popup{
    top: 40%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 30em;
    padding: 2em;
    box-shadow: 0, 5px, 30px, rgba(0,0,0,0.3);
    background: var(--background-grey);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: var(--btn-radius);
}

.close-button{
    width: 7em;
    left: 50%;
}

.open-button{
    background: var(--gradient);
    color: var(--white);
    border-radius: var(--btn-radius);
    font-size: 1em;
}

.minilogo{
    width: 15%;
}

#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    top: 50%;
}


/* Form CSS */

.club-form-text-title{
    color: var(--white);
    font-size: 2.5em;
}

.form-submit-btn{
    width: 25%;
    margin-left: 37.5%;
}

/* TheQ CSS */

.theq-heading{
    color: var(--white);
    font-size: 2.5em;
}

.comments-table{
    overflow: hidden;
    overflow-y: var(--scroll);
    height: 18em;
    border: 1px solid var(--white);
}

@media screen and (max-width: 750px) {

    .username-text{
        font-size: var(--small-font);
    }
    
    .user-login{
        font-size: var(--small-font);
    }

    .Qlogo{
        height: 30px;
    }

    .submit-btn{
        width: 48%;
    }

    /* Club Page */

    .club-image{
        width: var(--full);
    }

    .text-start{
        font-size: var(--small-font);
    }

    .club-button{
        width: 85%;
        padding: 2px 6px;
        margin: 4px;
    }

    .text-end{
        font-size: var(--small-font);
    }

    .search{
        padding: 1px 11.5px 1px 15px;
        height: 2em;
        font-size: var(--small-font);
    }

    /* Club Form CSS */

    .club-form-text-title{
        font-size: 1.2em;
    }
    
    .form-submit-btn{
        margin-left: 17%;
        font-size: 0.5em;
    }

    .form-text{
        font-size: 0.5em !important;
    }

    /* The Q CSS */

    .theq-heading{
        font-size: 1.2em;
        margin: 0;
    }

    .comments-table{
        height: 7.2em;
    }

    .comments{
        font-size: var(--small-font);
    }

    .theq-text{
        margin: 0;
        font-size: 1em;
    }

    /* Homepage CSS */
    
    .title h1{
        font-size: 3rem;
    }
    
    .homepage-button{
        width: var(--half);
        display: block;
        top: 70% !important;
    }

    .open-button{
        font-size: var(--small-font);
    }
    
    #popup{
        width: 18em;
        padding: 0.7em;
        overflow-y: var(--scroll);
        height: 20em;
    }

    .close-button{
        width: 40%;
        font-size: var(--small-font);
    }

    .small-text-prompt{
        font-size: 10px;
    }

}