*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* CSS for Login/Register Page */

:root{
    --gradient: linear-gradient(to right, #E29587, #D66D75); /* uigradients: https://uigradients.com/#Netflix */
    --btn-radius: 30px;
    --white: #fff;
}

.main{
    height: 100%;
    width: 100%;
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('images/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
}

.form-box{
    width: 23.75em;
    height: 30em;
    position: relative;
    margin: 6% auto;
    background: #F8F9FA;
    padding: 5px;
    overflow: hidden;
    border-radius: var(--btn-radius);
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #E29587;
    border-radius: var(--btn-radius);
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: var(--gradient);
    border-radius: var(--btn-radius);
    transition: 0.5s;
}

.login-logo{
    margin: 40px auto;
    text-align:center;
}

.login-logo img{
    width: 120px;
    margin: 0 12px;
}

.input-group{
    top: 11.25em;
    position: absolute;
    width: 17.5em;
    transition: 0.5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px;
    background: var(--gradient);
    border: 0;
    outline: none;
    border-radius: var(--btn-radius);

}

#login{
    left: 50px;
}

#register{
    left: 450px;
}


/* club review page css */

.club-image{
    width: 40%
}

/* Homepage CSS */

.home-row{
    display: flex;
    height: 88%;
    align-items: center;
}

.home-col{
    flex-basis: 50%;
}

.home-heading{
    color: var(--white);
    font-size: 6.25em;
}

.home-sub{
    color: var(--white);
    font-size: 3em;
}

.home-text{
    color: var(--white);
    font-size: 0.8em;
    margin: 2em;
    line-height: 1em;
}

@media screen and (max-width: 750px) {

    .form-box{
        width: 19em;
    }

    .input-field {
        width: 80%;
    }

    .submit-btn{
        width: 68%;
    }

}