*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* CSS for Login/Register Page */

:root{
    --gradient: linear-gradient(to right, #E29587, #D66D75); /* uigradients: https://uigradients.com/#Netflix */
    --btn-radius: 30px;
    --white: #fff;
    --background-grey: #F8F9FA;
    --full: 100%;
    --half: 50%;
    --small-font: 0.75em;
}

.main{
    height: var(--full);
    width: var(--full);
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('images/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
}

.flash{
    z-index: 1;
}

.form-box{
    width: 23.75em;
    height: 30em;
    position: relative;
    margin: 6% auto;
    background: var(--background-grey);
    padding: 5px;
    overflow: hidden;
    border-radius: var(--btn-radius);
}

.button-box{
    width: 200px;
    margin: 35px auto;
    position: relative;
    background: var(--gradient);
    /* box-shadow: 0 0 20px  #E29587; */
    border-radius: var(--btn-radius);
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    /* width: 95px; */
    position: relative;
    /* border-radius: var(--btn-radius); */
    transition: 0.3s;
}

.toggle-btn:hover{
    /* background: var(--gradient); */
    color: var(--white);
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: var(--full);
    border-radius: var(--btn-radius);
}

.login-logo{
    margin: 40px auto;
    text-align:center;
}

.login-logo img{
    width: 120px;
    margin: 0 var(--small-font);
}

.input-group{
    top: 11.25em;
    position: absolute;
    width: 17.5em;
    transition: 0.5s;
}

.input-field{
    width: var(--full);
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px;
    background: var(--gradient);
    border: 0;
    outline: none;
    border-radius: var(--btn-radius);
    transition: 0.6s ease;
    text-decoration: none;
    color: #000;
    text-align: center;
}

.submit-btn:hover{
    color: var(--white);
}

#login{
    left: 50px;
}

#register{
    left: 50px;
}


/* club review page css */

.container-fluid{
    margin-top: 0;
}

.club-image{
    width: 40%
}

.table-responsive{
    overflow: hidden;
    overflow-y: scroll;
    height: 100em;
}

tbody{
    margin-top: 2em;
}

tbody:before {
    line-height: 1em;
    content: ".";
    display: block;
}

.search{
    border: 1px solid grey;
    border-radius: var(--btn-radius);
    height: 2.5em;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: var(--white);
    transition: 0.5s ease;
  }

.search:hover, .search:focus {
    border: 1.5px solid var(--gradient);
    background-color: var(--white);
  }

/* Homepage CSS */

.title{
    position: absolute;
    top: var(--half);
    left: var(--half);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.title h1{
    color: var(--white);
    font-size: 4rem;
}

.homepage-button{
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popup{
    top: 40%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 30em;
    padding: 2em;
    box-shadow: 0, 5px, 30px, rgba(0,0,0,0.3);
    background: var(--background-grey);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: var(--btn-radius);
}

.close-button{
    width: 7em;
    left: 50%;
}

.minilogo{
    width: 15%;
}

#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    top: 50%;
}


/* Form CSS */

.club-form-text-title{
    color: var(--white);
    font-size: 2.5em;
}

.form-submit-btn{
    width: 25%;
    margin-left: 37.5%;
}

/* TheQ CSS */

.theq-heading{
    color: var(--white);
    font-size: 2.5em;
}

.comments-table{
    overflow: hidden;
    overflow-y: scroll;
    height: 18em;
    border: 1px solid var(--white);
}

@media screen and (max-width: 750px) {

    .form-box{
        width: 19em;
    }

    .input-field {
        width: 80%;
    }

    .submit-btn{
        width: 68%;
    }

    /* Club Page */

    .club-image{
        width: var(--full);
    }

    .text-start{
        font-size: var(--small-font);
    }

    .club-button{
        width: 85%;
        padding: 2px 6px;
        margin: 4px;
    }

    .text-end{
        font-size: var(--small-font);
    }

    .search{
        padding: 1px 11.5px 1px 15px;
        height: 2em;
        font-size: var(--small-font);
    }

    /* Club Form CSS */

    .club-form-text-title{
        font-size: 1.2em;
    }
    
    .form-submit-btn{
        margin-left: 17%;
        font-size: 0.5em;
    }

    .form-text{
        font-size: 0.5em !important;
    }

    /* The Q CSS */

    .theq-heading{
        font-size: 1.2em;
        margin: 0;
    }

    .comments-table{
        height: 7.2em;
    }

    .comments{
        font-size: var(--small-font);
    }

    .theq-text{
        margin: 0;
        font-size: 1em;
    }

    /* Homepage CSS */
    
    .title h1{
        font-size: 1.8rem;
    }
    
    .homepage-button{
        font-size: 0.75em;
        width: var(--half);
        display: block;
        margin: 0 auto;
        padding: 0 auto;
        left: 53%;
        top: 60%;
    }
    
    #popup{
        width: 18em;
        padding: 0.7em;
    }

    .close-button{
        width: 40%;
        font-size: var(--small-font);
    }

}