{% extends "layout.html" %}

{% block title %}
    Form
{% endblock %}

{% block main %}
{{ club }}
<form action="/form" method="post" class="input-group" id="form">
    <ul>
        <input type="hidden" name="club" value="{{club}}">
        <h1>Rating</h1>
        <li><input name=social type="number" placeholder="social"></li>
        <li><input name=workload type="number" placeholder="workload"></li>
        <li><input name=comp type="number" placeholder="comp"></li>
    </ul>
    <label for="comment">Comments:</label>
    <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
    <button type="submit">Submit</button>
</form>

{% endblock %}