{% extends "layout.html" %}

{% block title %}
    Form
{% endblock %}

{% block main %}

<form action="/form" method="post" id="form" class="club-form">
    <div class="form-group mb-3">
      <label for="exampleFormControlInput1" class="club-form-text-title">You're Reviewing: {{ club }}</label>
    </div>
        <input type="hidden" name="club" value="{{club}}">

        <div class="row">
            <div class="col">
                <div class="form-group mb-3">
                    <select class="form-select form-text" aria-label="Default select example" name="social">
                        <option selected class="form-text">Select Social Rating</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <select class="form-select form-text" aria-label="Default select example" name="workload">
                        <option selected class="form-text">Select Workload Rating</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <select class="form-select form-text" aria-label="Default select example" name="comp">
                <option selected>Select Comp Difficulty</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
        </div>

    <div class="form-group mb-2">
      <textarea class="form-control form-text" id="exampleFormControlTextarea1" name="comment" rows="3.5" placeholder="Comments..."></textarea>
      <button type="submit" class="submit-btn form-submit-btn" >Submit</button>
    </div>
</form>

{% endblock %}