{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-70">
      <div class="row d-flex justify-content-center align-items-center h-80">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-4 mt-md-4 pb-4">

                <div class="title">
                    <h1>The Club Q</h1>
                </div>
                <div class="homepage-button">
                    <a class="btn btn-lg px-4 mb-4 open-button" onclick="toggle()">Learn More</a>
                </div>
                <div id="popup">
                    <img alt="QGuide" src="static/images/miniQlogo.png" class="minilogo">
                    <p><br>The Club Q allows you to rate and view the Harvard clubs of your choice.<br><br>You can submit the review form as many times as you like for any given club, but be aware that only your most recent ratings and comments will be included in the guide.<br><br>Click on the 'Clubs' tab in the drop-down navigation menu to get started.</p>
                    <a class="submit-btn close-button" onclick="toggle()">Close</a>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<script>
    function toggle(){
        var popup = document.getElementById('popup');
        popup.classList.toggle('active');
    }
</script>

{% endblock %}