{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

<div class="title">
    <h1>The Club Q</h1>
</div>

<!-- <div class="home-row">
    <div class="home-col">
        <h1 class="home-heading">The Club Q.</h1>
        <h2 class="home-sub">By Students, for You.</h2>
        <p class="home-text">Harvard's extra-cirricular club scene is difficult to navigate. Let's demysitify it together. <br>Click on the 'Clubs' tab in the drop-down menu to get started.</br></p>
    </div>
    <div class="col">
    </div>
</div> -->

{% endblock %}