<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>The Club Q</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">

        <!-- Icon -->
        <link href="static/images/miniQlogo.ico" rel="icon">

    </head>
    <body>
        <div class="main">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                    <a href="login.html"></a><button type="button" class="toggle-btn">Log In</button></a>
                    <a href="register.html"><button type="button" class="toggle-btn">Register</button></a>
                </div>
                <div class="login-logo">
                    <img src="static/images/Qlogo.png" alt="logo">
                </div>
                <form action="/login" method="post" class="input-group" id="login">
                    <input autocomplete="off" class="input-field" name="username" placeholder="Username" type="text" required>
                    <input autocomplete="off" class="input-field" name="password" placeholder="Password" type="password" required>
                    <button type="submit" class="submit-btn">Log In</button>
                </form>
            </div>
        </div>
    </body>

</html>