{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-70">
      <div class="row d-flex justify-content-center align-items-center h-70">
        <div class="col-12 col-sm-8 col-sm-6 col-xl-5">
          <div class="card bg-light text-black-50" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-2 mt-md-2 pb-2">
  
                <img class="mb-4 Qlogo" src="static/images/Qlogo.png" src="logo" height="50">

                <form action="/register" method="post">
                    <div class="form-outline form-white mb-4">
                        <input type="email" autocomplete="off" class="form-control form-control-lg username-text" name="email" placeholder="Email" required/>
                    </div>
                    <div class="form-outline form-white mb-4">
                        <input type="text" autocomplete="off" class="form-control form-control-lg username-text" name="username" placeholder="Username" required/>
                    </div>
                    <div class="form-outline form-white mb-4">
                        <input type="password" autocomplete="off" class="form-control form-control-lg username-text" name="password" placeholder="Password" required/>
                    </div>
    
                    <div class="form-outline form-white mb-4">
                        <input type="password" autocomplete="off" class="form-control form-control-lg username-text" name="confirmation" placeholder="Confirm Password" required/>
                    </div>
    
                    <a href="/register"><button class="btn btn-lg px-5 mb-4 user-login" type="submit">Register</button></a>
                </form>

                <p>Already have an account? <a href="/login" class="text-opacity-50 text-black fw-bold sign-up">Log In</a></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


<!-- <!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>The Club Q</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">

        
        <link href="static/images/miniQlogo.ico" rel="icon">

    </head>
    <body> -->
        <!-- <div class="main">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                    <a href="/login"><button type="button" class="toggle-btn">Log In</button></a>
                    <a href="/register"><button type="button" class="toggle-btn">Register</button></a>
                </div>
                <div class="login-logo">
                    <img src="static/images/Qlogo.png" alt="logo">
                </div>
                <form action="/register" method="post" class="input-group" id="register">
                    <input autocomplete="off" id="email" class="input-field" name="email" placeholder="Email (must be Harvard College)" type="email" pattern="">
                    <input autocomplete="off" id="username" class="input-field" name="username" placeholder="Username" type="text" required>
                    <input autocomplete="off" id="password" class="input-field" name="password" placeholder="Password" type="password" required>
                    <input autocomplete="off" id="confirmation" class="input-field" name="confirmation" placeholder="Confirm Password (must match)" type="password" required>
                    <span id='message'></span>
                    <button type="submit" class="submit-btn">Register</button>
                </form>
            </div>
        </div>

     </body>
</html> -->
