{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<section class="vh-100 gradient-custom main-form">
    <div class="container py-5 h-70">
      <div class="row d-flex justify-content-center align-items-center h-70">
        <div class="col-12 col-sm-8 col-sm-6 col-xl-5">
          <div class="card bg-light text-black-50" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-1 mt-md-1 pb-1">
  
                <img class="mb-4 Qlogo" src="static/images/Qlogo.png" src="logo" height="50">

                <form action="/register" method="post">
                    <div class="form-outline form-white mb-3">
                        <input type="email" autocomplete="off" class="form-control form-control-lg username-text" name="email" placeholder="Email" required/>
                    </div>
                    <div class="form-outline form-white mb-3">
                        <input type="text" autocomplete="off" class="form-control form-control-lg username-text" name="username" placeholder="Username" required/>
                    </div>
                    <div class="form-outline form-white mb-3">
                        <input type="password" autocomplete="off" class="form-control form-control-lg username-text" name="password" placeholder="Password" required/>
                    </div>
    
                    <div class="form-outline form-white mb-3">
                        <input type="password" autocomplete="off" class="form-control form-control-lg username-text" name="confirmation" placeholder="Confirm Password" required/>
                    </div>
    
                    <a href="/register"><button class="btn btn-lg px-5 mb-3 user-login" type="submit">Register</button></a>
                </form>

                <p class="small-text-prompt">Already have an account? <a href="/login" class="text-opacity-50 text-black fw-bold sign-up">Log In</a></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
