{% extends "layout.html" %}

{% block title %}
    Review
{% endblock %}

{% block main %}

<!-- Bootstrap Table -->
<table class="table table-striped">

    <!-- <thead>
        <tr>
            <th class="text-start">Image</th>
            <th class="text-start">Club</th>
            <th class="text-end">Review</th>
        </tr>
    </thead> -->

    <form action="/review" method="post" class="input-group">
        <table class="club-table">
            <thead>
                <input type="text" placeholder="Search...">
            </thead>
            <tbody>
                {% for club, logo in clubdata %}
                    <tr>
                        <td class="text-start"><img src="static/logos/{{logo[0]}}" alt="Club Image" class="club-image"></td>
                        <td class="text-start text-light">{{club[0]}}</td>
                        <td class="text-end"><button type="submit" class="submit-btn" value="{{club[0]}}" name="club">Review</button></td>
                    </tr>
                {% endfor %}
        
            </tbody>
        </table>
    </form>
{% endblock %}