{% extends "layout.html" %}
<html>
<body>

{% block title %}
    Review
{% endblock %}

{% block main %}

<!-- Bootstrap Table -->
<table class="table table-striped">
    
    <form method="post" class="input-group">
        <table id="myTable" class="table table-borderless table-hover table-sm">
            <thead>
                <input type="text" id="myInput" onkeyup="filter()" placeholder="Search...">
            </thead>
            <tbody>
                {% for club, logo in clubdata %}
                    <tr>
                        <td class="text-start"><img src="static/logos/{{logo[0]}}" alt="Club Image" class="club-image"></td>
                        <td class="text-start text-light">{{club[0]}}</td>
                        <td class="text-end"><button formaction="/review" type="submit" class="submit-btn" value="{{club[0]}}" name="club">Review</button></td>
                        <td class="text-end"><button formaction="/theq" type="submit" class="submit-btn" value="{{club[0]}}" name="theq">The Q</button></td>
                    </tr>
                {% endfor %}
        
            </tbody>
        </table>
    </form>
<script>
    function filter() {
      // Declare variables 
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        } 
      }
    }
</script>
{% endblock %}
</body>
</html>