{% extends "layout.html" %}

{% block title %}
    Review
{% endblock %}

{% block main %}

<!-- BootStrap search bar -->
<div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>

<!-- Bootstrap Table -->
<table class="table table-striped">

    <!-- <thead>
        <tr>
            <th class="text-start">Image</th>
            <th class="text-start">Club</th>
            <th class="text-end">Review</th>
        </tr>
    </thead> -->
   <tbody>
        {% for club, logo in clubdata %}
            <tr>
                <td class="text-start"><img src="static/logos/{{logo[0]}}"></td>
                <td class="text-start">{{club[0]}}</td>
                <td class="text-end"><button action="/review" name="review">Review</button></td></a>
            </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}