{% extends "layout.html" %}

{% block title %}
    TheQ
{% endblock %}

{% block main %}

<div class="ratings-table">
    <table class="table table-borderless table-sm">
        <thead>
            <h1 class="theq-heading">{{club}}</h1>
        </thead>
        <tbody>
            <tr>
                <td class="text-center text-light"><h2><b>Social: </b>{{reviews[0]}}</h2></td>
            </tr>
            <tr>
                <td class="text-center text-light"><h2><b>Workload: </b>{{reviews[1]}}</h2></td>
            </tr>
            <tr>
                <td class="text-center text-light"><h2><b>Comp Difficulty: </b>{{reviews[2]}}</h2></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="comments-table">
    <table class="table table-bordered table-dark table-responsive-md table-hover">
        <thead>
            <h2 class="text-light"><b>Comments:</b></h2>
        </thead>
        <tbody>
            {% for i in range(comments | length) %}
            <tr>
                <td class="text-center text-light comments">{{comments[i][0]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}