{% extends "layout.html" %}

{% block title %}
    The Q
{% endblock %}

{% block main %}

<div class="ratings-table">
    <table class="table table-borderless table-sm">
        <thead>
            <h1 class="theq-heading">{{club}}</h1>
        </thead>
        <tbody>
            <tr>
                <td class="text-center text-light"><h2 class="theq-text"><b>Social: </b>{{'%0.2f'| format(reviews[0]|float)}}</h2></td>
            </tr>
            <tr>
                <td class="text-center text-light"><h2 class="theq-text"><b>Workload: </b>{{'%0.2f'| format(reviews[1]|float)}}</h2></td>
            </tr>
            <tr>
                <td class="text-center text-light"><h2 class="theq-text"><b>Comp Difficulty: </b>{{'%0.2f'| format(reviews[2]|float)}}</h2></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="comments-table">
    <table class="table table-borderless">
        <thead>
            <h2 class="text-light theq-text"><b>Comments</b></h2>
        </thead>
        <tbody>
            {% for i in range(comments | length) %}
            <tr>
                <td class="text-center text-light comments bg-black bg-opacity-25">{{comments[i][0]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}